[submodule "etcd"]
	path = etcd
	url = https://github.com/etcd-io/etcd.git
	branch = release-3.6
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/kubernetes/kubernetes.git
	branch = release-1.35
[submodule "cri-tools"]
	path = cri-tools
	url = https://github.com/kubernetes-sigs/cri-tools.git
[submodule "tests"]
	path = tests
	url = https://github.com/cnuss/chainsaw-kube.git
